@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');

*,::before,::after{
    box-sizing: border-box;
    
}
body{
    margin:0;
    font-family: fira sans , sans-serif;
}

nav{
    background-color: #7C9473;
   
}
header{
    height: 70vh;
    background-color: #CFDAC8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7C9473;
}
header h1{
    font-weight: bold;
}
.shopping{
    background-color: #E8EAE6;
}
div.item{
    min-width: 120px;
    height:170px;
    line-height: 110px;
    text-align: center;
    margin-right: 5px;
}

.horizontal-scroll{
    max-width: 1000px;
    margin: auto;
}
.products{
    display: flex;
    /* border: 1px solid black; */
    overflow-x: auto;
    scroll-behavior: smooth;
}
.products::-webkit-scrollbar{
    width:0
    
}
.title{
    color: #7C9473;
}
.item-img > img{
    width: 100px;
    height: 100px;
}

.btn-scroll-left {
    position: absolute;
    top: 25%;
    font-size: 2rem;
    left: -5%;
}
 .btn-scroll-right{
    position: absolute;
    top: 25%;
    font-size: 2rem;
    right:-5%;
}

.btn:focus{
   /* box-shadow: none; */
}

.story-container{
    transition: 0.5s all ease-out;
}

.item{
    cursor: pointer;
    transition: transform .2s;
}

.item:hover{
    transform: scale(1.1);
   
}