@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #7C9473;
    font-family: fira sans , sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 2em;
}
.form{
    background-color: white;
    width: 400px;
    max-width: 100%;
    
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0,0,0,0.3);
}
.form-control{
    margin-bottom: 2em;
    position: relative;
    
}
.form-control input{
    display: block;
    width: 100%;
    outline: 0;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding:10px;
    font-size: 0,75rem;
}
.form-control label{
    display: inline-block;
    margin-bottom: 0.5em;
}
.header{
    background-color: #f7f7f7;
    padding: 10px 40px;
    text-align: center;
  
}
.padding{
    padding:20px 40px;
}

.form-control > i {
    position:absolute;
    right:5px;
    /* top: 50%; */
    top:40px;
    visibility:hidden;
}

.form-control > small{
    /* visibility:hidden; */
    position:absolute;
    margin:0.25em 0;
    color:#e74c3c;
    visibility: hidden;
    
}
.form-control.success input{
  border-color:#2ecc71;
}
.form-control.error input{
    border-color:#e74c3c
  }
.form-control.success > i.fa-check-circle{
    visibility: visible;
    color:#2ecc71;
}
.form-control.error > i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}

.form-control.error > small{
    visibility: visible;
}

#submit{
    display: block;
    width: 70%;
    margin: auto;
    font-weight: bold;
    font-size: 1rem;
    background-color: #7C9473;
    color:white;
    padding:10px;
    border-radius: 4px;
    border:2px solid #7C9473;
    cursor:pointer;
}
.form-control input:focus{
    border-color: lightskyblue;
    box-shadow: 0 2px 10px lightskyblue;;
}


.forgot{
    margin-bottom: 2em;
}
.forgot > a{
    font-size: 0.75rem;
    color: #1a73e8;
    font-weight: bold;
    text-decoration: none;
    /* position: absolute;
    top: -10px; */
}

div.radio  input[type='radio']{
    display: inline-block;
    width: initial;
}

.signup{
    margin-bottom: 2em;
}